{% extends "main/base.html.twig" %}

{% block body %}
	<!-- Imagen logo Talleres Viñes -->
	<img src="./img/logo.png" id="logoPrinc" class="rounded mx-auto d-block" alt="logo">
	<!-- menu de navegacion general -->
	<nav class="nav justify-content-center bg-dark">
		<a class="nav-link active" href="/inicio">
			<button class="btn btn-outline-secundary text-white" type="button">Inicio</button>
		</a>
		<a class="nav-link" href="/servicios">
			<button class="btn btn-outline-secundary text-white" type="button">Servicios</button>
		</a>
		<a class="nav-link" href="/cuenta">
			<button class="btn btn-outline-secundary text-white" type="button">Cuenta</button>
		</a>
	</nav>

	<!-- Contenido de cada pagina -->
	{% block contenido %}{% endblock %}

	<!-- Footer -->
	<footer id="footerPrinc" class="page-footer font-small teal pt-4 bg-dark">
		<div class="container-fluid text-center text-md-left">
			<div class="row">
				<div class="col-md-6 mt-md-0 mt-3">
					<h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
						repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae
						harum esse fugiat. Itaque, culpa?</p>
				</div>
				<hr class="clearfix w-100 d-md-none pb-3">
				<div class="col-md-6 mb-md-0 mb-3">
					<h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
						commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
						excepturi hic.</p>

				</div>
			</div>
		</div>
		<div class="footer-copyright text-center py-3">© 2020 Copyright:
			<a href="https://talleresvinyes.com/">
				talleresvinyes.com</a>
		</div>
	</footer>
{% endblock %}
