

label, h1, p{
    color: white;
  }
  #botonRegistro {
    margin-left: 35%;
    margin-bottom: 8%;
  }
.card-4 {
    background-color: #292b2c;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    height: 520px;
  }

  #cardG{
    margin-top: 8%;
    margin-bottom: 8%;
  }

  #fomularioReg{
    margin-top: 20%;
    margin-left: 23%;
    margin-right: 20%;
  }