<!DOCTYPE html>

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DAW2</title>

    <link rel="stylesheet" href="{{asset('style.css','estilos')}}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{asset('nivo-slider.css','estilos')}}" type="text/css" />
    <link rel="stylesheet" href="{{asset('jquery.fancybox-1.3.4.css','estilos')}}" type="text/css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.6.1.min.js"><\/script>')</script>

    <script src="js/jquery.smoothscroll.js"></script>
    <script src="js/jquery.nivo.slider.pack.js"></script>
    <script src="js/jquery.easing-1.3.pack.js"></script>
    <script src="js/jquery.fancybox-1.3.4.pack.js"></script>
    <script src="js/init.js"></script>

</head>

<body>

<!-- header-wrap -->
<div id="header-wrap">
    <header>

        <hgroup>
            <h1><a href="/inicio">DAW2</a></h1>
            <h3>Desarrollo Web en Entorno de Servidor</h3>
        </hgroup>

        <nav>
            <ul>
                <li><a href="/inicio">Home</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/proyectos/1">Proyectos</a></li>
                <li><a href="/nosotros">Sobre Nosotros</a></li>
                <li><a href="/contacto">Contacta</a></li>
                {% if app.session.get('username') == "" %}<li><a href="/login">Login</a></li>{% endif %}
                {% if app.session.get('username') != "" %}<li><a href="/login">Hola, {{ app.session.get('username') }}</a></li>{% endif %}
            </ul>
        </nav>

    </header>
</div>

<!-- content-wrap -->
<div class="content-wrap">

    <!-- main -->
    <section id="main">

        <div class="intro-box">
           <h1>Bienvenidos.</h1>

           <p class="intro">Hola a todos. Somos Daw2. Somos un pequeño estudio de diseño con 
                            sede en algún lugar, creamos sitios web, interfaces de usuario, 
                            logotipos y otras cosas digitales. Estamos aquí para que usted y 
                            su negocio destaquen entre la multitud.</p>

           <p class="intro">Lea mas <a href="nosotros.html">sobre nosotros</a>  o <a href="contacto.html">Contáctenos</a> si quieres contratarnos para su próximo proyecto.</p>

        </div>

        <div class="slider-wrapper">

            <div id="slider" class="nivoSlider">
                <img src="images/slides/slide1.png" width="383" height="198" alt="" />
                <img src="images/slides/slide2.png" width="383" height="198" alt="" />
                <img src="images/slides/slide3.png" width="383" height="198" alt="" title="#htmlcaption"/>
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>Pida</strong> <em>PRESUPUESTO</em> sin compromiso <a href="contacto.html">aquí</a>.
            </div>
        </div>

        <div class="row no-bottom-margin">

            <section class="col">
                <h2>Ideas Creativas</h2>

                <p>Nascetur augue hac platea enim, egestas pulvinar vut. Pulvinar cum, ac eu, tristie
                acus duis in dictumst non integer! Elit, sed scelerisque odio tortor, sed platea dis? Quis
                cursus parturient ac amet odio in? Nunc Amet urna scelerisque eu lectus placerat.</p>
            </section>
            <section class="col mid">
                <h2>Innovación</h2>

                <p>Pellentesque magna mi, iaculis pharetra eu, fermentum ullamcorper nisi.
                Integer fringilla magna ut quam vulputate erat. Pulvinar cum, ac eu augue ut sit amet
                gravida lacinia, eros massa condimentum sem, a fermentum ligula lorem non.
                Phasellus vulputate.</p>
            </section>

            <section class="col">
                <h2>Diseño y Desarrollo</h2>

                <p>In hac habitasse platea risus dictumst. Suspendisse sit amet enim arcu. Aliquam erat volutpat.
                Phasellus a dui nisi. Nunc nec quam vitae nisl vehicula euismod. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Sed commodo ligula blandit risus.</p>
            </section>
        </div>

      </section>

</div>

<!-- footer -->
<footer>
    <div class="footer-content">
        <ul class="footer-menu">
            <li><a href="/inicio">Home</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/proyectos/1">Proyectos</a></li>
            <li><a href="/nosotros">Sobre Nosotros</a></li>
            <li><a href="/contacto">Contacta</a></li>
            <li><a href="/login">Login</a></li>

        </ul>

        <p class="footer-text">Copyright 2019 DAW2. &nbsp;&nbsp;&nbsp; Designed by <a href="https://www.floridauniversitaria.es">Florida Universitaria</a> | <a href="https://symfony.com" target="_blank">Symfony.com</a></p>
    </div>

</footer>

</body>
</html>
