{% extends "main/layout.html.twig" %}
{% block archivospropios %}
{% block title %}Servicios{% endblock %}
	<link rel="stylesheet" href="./css/estilosServicios.css">
	<script src="./js/"></script>
{% endblock %}
{% block contenido %}
	<section>
		<article id="desplegables">
			<br>
			<div class="row">
				<h3 class="col-12 text-center">
					<b>Servicios</b>
				</h3>
			</div>
			<ul id="menu">
				<input type="checkbox" name="list" id="nivel-11">
					<label for="nivel-11">
						<b>MECÁNICA GENERAL</b>
					</label>
					<ul class="interior text-justify">
						<p>Si tiene algún problema en los sistemas mecánicos de su vehículo, no dude en acudir a Talleres Viñes para solucionarlo, ya que contamos con los últimos equipos de análisis y recambios auténticos acordes a la normativa de los fabricantes.
							<br><br>
							En caso de avería de su coche, nuestro personal se encuentra altamente cualificado y preparado para hacer que todo vuelva a funcionar. Gracias a los numerosos años de experiencia, al uso de los últimos equipos de análisis y al acceso a los datos técnicos necesarios, nuestros especialistas realizarán de manera rápida y profesional cualquier trabajo mecánico que precise su vehículo.</p>
					</ul>
				</input>
			</ul>
			<hr>
			<ul id="menu">
				<input type="checkbox" name="list" id="nivel-21">
					<label for="nivel-21">
						<b>SISTEMA DE FRENADO</b>
					</label>
					<ul class="interior text-justify">
						<p>Uno de los equipos de seguridad más importantes de un vehículo es el sistema de frenado. Un sistema de frenado debe tener todas sus piezas y mecanismos en perfecto funcionamiento, ya que si alguna de ellas se encuentra en mal estado o desgastada el sistema de frenado no funcionará de manera correcta en su conjunto.
							<br><br>
							Los conductores siempre confían en que su sistema de frenado funcione de manera correcta al 100%, pero solo perciben lo que ocurre cuando se pisa el pedal de freno. Pero este puede no funcionar en su totalidad, por lo que ante una situación de peligro (frenado brusco, un niño que cruza la calle de repente…) es fundamental tenerlo en buen estado.</p>
					</ul>
				</input>
			</ul>
			<hr>
			<ul id="menu">
				<input type="checkbox" name="list" id="nivel-31">
					<label for="nivel-31">
						<b>AMORTIGUACIÓN</b>
					</label>
					<ul class="interior text-justify">
						<p>Son otros de los elementos de seguridad con los que cuentan los vehículos. Sirven para mantener el contacto entre la rueda y la carretera, proporcionando mayor adherencia al vehículo, lo que se transmite en mayor seguridad y comodidad al volante.
							<br><br>
							No son visibles, lo que hace que sea más difícil de controlar su desgaste, pudiendo provocar un cambio en el estilo de conducir del conductor, ya que poco a poco puede adaptar este estilo a la pérdida de eficacia de los amortiguadores.
							<br><br>
							Además, los amortiguadores desgastados provocan otros efectos en el vehículo y a la hora de conducir. Por un lado, acelera el desgaste de los muelles de suspensión, el diferencial, los neumáticos… Y por otro lado, a la hora de conducir puede aumentar la distancia de frenado, el aquaplaning, el desplazamiento en caso de viento o cruce de un camión.
							<br><br>
							Se aconseja una primera revisión a los 50.000 kilómetros aproximadamente, y a partir de aquí, revisarlos cada 20.000 kilómetros. Visite cualquier Center’s Auto y nuestros especialistas te informarán sin compromiso de su estado y del momento en que tiene que ser sustituidos.</p>
					</ul>
				</input>
			</ul>
			<hr>
			<ul id="menu">
				<input type="checkbox" name="list" id="nivel-41">
					<label for="nivel-41">
						<b>PRE-ITV</b>
					</label>
					<ul class="interior text-justify">
						<p>La Inspección Técnica de Vehículos o ITV es una revisión obligatoria para todos los conductores, ya que tiene unos plazos de obligado cumplimiento según el uso, los años y la clase de vehículo.
							<br><br>
							Las revisiones son básicas para comprobar que el estado del vehículo, así como sus elementos de seguridad cumplen con los requisitos mínimos de circulación. Si estos controles no existieran, tanto la seguridad vial como el medio ambiente podrían resentirse de manera grave.
							<br><br>
							Si a tu vehículo le detectan durante la ITV que tiene daños relevantes, tiene que volver a pasar dicha revisión en un plazo máximo de 2 meses. Por eso, cada vez hay más conductores que optan por llevar su vehículo a un taller para que le realicen una revisión pre-ITV y en caso de encontrar algún problema sea reparado antes de acudir a su revisión ITV.</p>
					</ul>
				</input>
			</ul>
			<hr>
			<ul id="menu">
				<input type="checkbox" name="list" id="nivel-51">
					<label for="nivel-51">
						<b>CAMBIO DE ACEITE Y FILTROS</b>
					</label>
					<ul class="interior text-justify">
						<p>El aceite protege y lubrica todas las partes internas del motor. Se debe cambiar al menos una vez al año o según recomendación del fabricante. En Centers Auto tenemos planes de mantenimiento adaptados a las necesidades de tu vehículo en cada momento. Como especialistas conocemos la importancia de lubricar bien todas las piezas a fin de evitar su desgaste. Preservando así el motor de futuras averías y garantizando su buen funcionamiento.</p>
					</ul>
				</input>
			</ul>
			<hr>
			<ul id="menu">
				<input type="checkbox" name="list" id="nivel-61">
					<label for="nivel-61">
						<b>MECÁNICA RÁPIDA</b>
					</label>
					<ul class="interior text-justify">
						<p>La mecánica rápida engloba las operaciones más habituales, como el cambio de aceite, filtros, revisión y mantenimiento de la suspensión, frenos y escapes, entre otras.
							<br><br>
							En Talleres Viñes somos conscientes de que hoy en día la escasez de tiempo hace difícil que tengamos el vehículo en perfecto estado. Por este motivo, tratamos de manera prioritaria cualquier servicio que necesiten nuestros clientes, ofreciendo la máxima profesionalidad y garantía en el servicio.</p>
					</ul>
				</input>
			</ul>
			<hr>
			<ul id="menu">
				<input type="checkbox" name="list" id="nivel-71">
					<label for="nivel-71">
						<b>ALINEACIÓN</b>
					</label>
					<ul class="interior text-justify">
						<p>Se trata de uno de los mantenimientos más importante de los vehículos.
							<br><br>
							En nuestros talleres, realizamos un servicio de alineación perfecta, ya que contamos con la última tecnología para realizar este servicio y con repuestos de primeras marcas.
							<br><br>
							Además, nuestros clientes no asumirán gastos innecesarios, ya que nuestros empleados cambiarán solamente lo necesario y explicarán al cliente cada proceso que realicen. También entregamos a los clientes una ficha detallando los trabajos que se han realizado en su automóvil.</p>
					</ul>
				</input>
			</ul>
			<hr>
			<ul id="menu">
				<input type="checkbox" name="list" id="nivel-81">
					<label for="nivel-81">
						<b>BATERIAS</b>
					</label>
					<ul class="interior text-justify">
						<p>En Talleres Viñes contamos con un amplio catálogo de baterías de coche para que tengas tu vehículo siempre a punto.
							<br><br>
							Todos los vehículos necesitan una batería para funcionar, arrancar el motor y para que funcionen todos sus sistemas eléctricos. La batería se trata de un acumulador de energía del que se alimentan los diferentes sistemas y componentes del vehículo que necesitan electricidad.
							<br><br>
							La batería de un coche es un elemento fundamental en el conjunto de componentes de un vehículo. Son la fuente de energía para que tanto el motor del vehículo como los sistemas y componentes eléctricos (cada vez más numerosos en los vehículos actuales) puedan funcionar.</p>
					</ul>
				</input>
			</ul>
			<hr>
			<ul id="menu">
				<input type="checkbox" name="list" id="nivel-91">
					<label for="nivel-91">
						<b>NEUMÁTICOS</b>
					</label>
					<ul class="interior text-justify">
						<p>Es de vital importancia comprobar y mantener los neumáticos con regularidad. Prestar atención a la rotación, el equilibrado, el desgaste de la banda de rodadura y otros aspectos son esenciales para el mantenimiento de los neumáticos.</p>
					</ul>
				</input>
			</ul>
		</article>
	</section>
		{% endblock %}
